<div class='container'>
  <nav class='navbar navbar-inverse role="navigation"'>
    <div class='container'>
      <ul class='nav navbar-nav'>
        <li class='navbar-link'> <%= link_to 'Home', :root , class: 'pull-left'%> </li>
      </ul>
      <%= button_to 'Sign out', sign_out_path, class: 'btn btn-danger navbar-btn navbar-right sign-out-btn pull-right' %>
    </div>
  </nav>
  <% if notice.present? || alert.present? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

  <h3>Set lists</h3>

  <table id="reading-lists", class='table table-striped'>
    <% @bookmarks.each_with_index do |bookmark, i| %>
      <tr class='reading-list' id="list-<%= i + 1 %>">
        <td>List <small><%= i + 1 %></small></td>
        <td><h4><%= bookmark.full_name %></h4></td>
        <td><%= link_to 'Edit', edit_user_list_path(current_user, bookmark), class: 'btn btn-lg btn-warning edit-btn' %></td>
      </tr>
    <% end %>
  </table>
</div>
