<h1>Welcome <%= current_user.email %></h1>
<div><%= button_to 'Sign out', '/sign_out' %></div>
<div><%= link_to 'Go to Account', user_lists_path(current_user), id: 'account-btn' %></div>

<ul id="reading-lists">
<% @bookmarks.each_with_index do |bookmark, i| %>
  <li class='reading-list' id="list-<%= i + 1 %>"><%= bookmark.full_name %>&nbsp;

  <%= button_to 'Next', bookmark, method: 'patch' %>

  </li>
<% end %>
</ul>
